@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src: url("fonts/Inter-SemiBold.ttf");
}

@font-face {
  font-family: "Roboto Medium";
  src: url("fonts/Roboto-Medium.ttf");
}

@font-face {
  font-family: "Roboto Regular";
  src: url("fonts/Roboto-Regular.ttf");
}

body {
  margin: 0;
}
